<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-8">
            <mat-card class="mt-5" *ngIf="activity || id == 0">
                <mat-card-header>{{action}} Activity</mat-card-header>
                <hr>
                <form class="example-form" autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="editForm">
                    <mat-card-content>
                        <mat-form-field class="full-width" *ngIf="id!=0">
                            <input matInput placeholder="Activity Id" disabled value="{{activity.activityId}}">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="name" placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="text" formControlName="description"
                                placeholder="Description for Activity">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="number" formControlName="maxQualificationTimes"
                                placeholder="Maximum Attempts Allowed">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="number" formControlName="points"
                                placeholder="Qualification points">
                        </mat-form-field>
                        <mat-form-field class="full-width" *ngIf="id==0">
                            <mat-label>Batch</mat-label>
                            <mat-select formControlName="batch">
                                <mat-option *ngFor="let batch of batches;let i = index" [value]="batches[i].batchId">
                                    {{batch.batchName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" *ngIf="id!=0">
                                <input matInput placeholder="Batch" disabled value="{{activity.batch.batchName}}">
                            </mat-form-field>
                            <mat-form-field class="full-width" *ngIf="id!=0">
                                    <input matInput placeholder="Level" disabled value="{{activity.level.number}}. {{activity.level.name}}">
                                </mat-form-field>
                        <mat-form-field class="full-width" *ngIf="id==0">
                            <mat-label>Level</mat-label>
                            <mat-select formControlName="level">
                                <mat-option *ngFor="let level of levels;let i = index" [value]="levels[i].id">
                                    {{level.number}}. {{level.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" type="submit">{{action}}</button>
                        </mat-card-actions>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
        <div class="col-2"></div>
    </div>
</div>