<div class="container">
    <div>
      <h1 class = "d-inline">Applicants</h1>
      <button class="btn btn-success float-md-right" [routerLink]='[0,"edit"]'>Add Applicant</button>
    </div>
<div class="container">
  <mat-card class="mt-5">
    <mat-card-content>
        <div class="row">
            <div class="col-md-3" *ngFor="let applicant of applicants; let i = index">
              <mat-card class="mt-2">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Applicant Name: {{applicant.applicant.name}}</mat-card-title>
                  <mat-card-subtitle>{{i+1}}</mat-card-subtitle>
                  <!-- <mat-card-subtitle>Level name: {{level.name}}</mat-card-subtitle> -->
                </mat-card-header>
                <img [src]=""> 
                <hr>
                <mat-card-content>
                  <p>
                    NAGP Status: {{applicant.nagpStatus}}
                  </p>
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  <button mat-raised-button [routerLink]="applicant.applicant.userId">More</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
    </mat-card-content>
  </mat-card>
</div>