<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="batch">
      <mat-card class="example-card rounded" style="background-color:#484848;color: whitesmoke">
        <mat-card-header style="background-color:whitesmoke;color: blue" class="rounded">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <h1>Batch: {{batch.batchName}}</h1>
          </mat-card-title>

        </mat-card-header>
        <hr>
        <mat-card-content>
          <p>
            Technology: {{batch.batchTechnology}}
          </p>
          <p>
            Description: {{batch.description}}
          </p>
          <p>
            Started On: {{batch.startDate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" style="color: whitesmoke" [routerLink]="['edit']">Edit</button>
          <!-- <button mat-raised-button color="warn">Delete</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>